body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*BootStrap Overrides*/
span.field-validation-error {
    color: red;
    font-weight: bold;
}
.navbar-inverse{
    background-color:#0f06b3;
    border-color:#0f06b3;
} 
.navbar-inverse .navbar-nav > li > a{
    color:#ffffff;
} 

.navbar-inverse .navbar-brand{
    color:#ffffff;
} 

.navbar-inverse .navbar-nav > li > a{
    color:#ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: blue;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}


    .navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}



.navbar-brand {
    font-weight: 700; 

}
    
body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*may need to change to 15*/
.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

form-control:focus {
    border-color: #000080;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}
.sports {
    list-style: none;
}

/*Page level styles*/
/* Page-level styles */
.sports {
    list-style: none;
}

.sports > li {
        position: relative;
        margin-bottom: 30px;
    }

.sports > li .date {
            background: green;
            color: white;
            text-align: center;
            width: 60px;
            -ms-border-radius: 8px;
            border-radius: 8px;
        }

.sports > li .date .month {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 6px;
    }

.sports > li .date .day {
        background: #bdb;
        color: #333;
        font-size: 20px;
        padding: 6px 12px;
    }

.sports > li .details {
        position: absolute;
        top: 0;
        left: 70px;
    }

.sports > li .details .player {
            font-weight: bold;
            display: block;
        }

.sports > li .details .genre {
            font-size: 15px;
        }